path {
  fill: none;
  stroke: #57bdc3
}

text {
  text-shadow:
    -1px -1px 3px white,
    -1px  1px 3px white,
     1px -1px 3px white,
     1px  1px 3px white,
}


#mainDisplay{ 
  display: flex;
  justify-content: space-between;
}

#signalsDisplay {
  border: 1px solid black
}

#graphsContainer {
  width: 70%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

#structGraphDisplay {
  border: 1px solid black;
  height: 50%;
  font-family: Victor Mono, monospace;
  color: #d8dee9;
  /* flex-shrink: 0;
  flex-grow: 0; */
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  /* display: flex; */
}

#depGraphDisplay {
  border: 1px solid black;
  height: 50%;
} 

#placeHolder{
  height: 100%;
  width: 100%;
}